// Colors
$color-primary-text: #fff;
$color-secondary-text: #777;
$color-shadow: #000;
$color-light-background: #f7f7f7;
$color-button-text: #cccccc;
$color-border: #F5F5F5;
$color-git-icon: #303030;

// Grid
$grid-width: 100rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Font
$default-font-size: 1.6rem;