.footer {
    background: radial-gradient(circle, rgba(244,253,255,1) 0%, rgba(247,247,247,1) 100%);
    padding: 10rem 0;
    font-size: 1.4rem;
    text-align: center;

    &__navigation {
        border-top: 1px solid $color-secondary-text;
        padding-top: 2rem;
        display: inline-block;
    }

    &__icon {
        &:not(:last-child) {
            margin-right: 3rem;
        }

        &-link {
            display: inline-block;
            font-size: 4rem;
            margin-bottom: .5rem;
            padding-top: 1.5rem;
            color: $color-git-icon;
    
            &:hover {
                transform: scale(1.2);
                color: 	#780000;
            }
    
            &:active {
                color: #B80000;
            }
        }
    }
}