.btn {
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 1.5rem rgba($color-shadow,.2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-shadow,.2);
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &-animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &-white {
        background-color: $color-primary-text;
        color: $color-button-text;
        margin-top: 6rem;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-left: 10vw;
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba($color-shadow,.2);

        &::after {
            background-color: $color-primary-text;
        }
    }

    &-submit {
        background-image: linear-gradient(90deg, rgba(203,228,230,1) 0%, rgba(167,243,255,1) 100%);
        color: $color-primary-text;
        margin-top: 2.3rem;
        margin-bottom: .5rem;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-left: 14vw;
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba($color-shadow,.2);
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        border: none;
        cursor: pointer;

        &::after {
            background-image: linear-gradient(to right bottom, rgba(156,197,227,0.9598214285714286) 0%, rgba(130,126,149,1) 100%);
        }
    }

    &-icon {
        &:hover {
            cursor: pointer;
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-button-text;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-button-text;
        padding: 3px;
    }

    &:hover {
        // color: rgba(204,204,204,0.9598214285714286);
        border-radius: 0.5rem;
        box-shadow: 0 1rem 2rem rgba($color-shadow, .15);
        transform: translateY(2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-shadow, .15);
        transform: translateY(0);
    }
}

.btn-more {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-button-text;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-button-text;
        padding: 3px;
        position: absolute;
        bottom: 1.5rem;
        right: 2rem;
        
    }

    &--link {
        &:hover {
            // color: rgba(204,204,204,0.9598214285714286);
            border-radius: 0.5rem;
            box-shadow: 0 1rem 2rem rgba($color-shadow, .15);
            transform: translateY(2px);
        }
    }
}