.feature-box {
    background-color: rgba($color-primary-text, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-shadow, .8);
    transition: transform .3s;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, rgba(156,197,227,0.9598214285714286) 0%, rgba(130,126,149,1) 100%);
        -webkit-background-clip: text;
        color: transparent;
        padding-top: 3px;
        padding-left: 3px;
    }

    &__icon-link {
        font-size: 3rem;
        margin-bottom: .5rem;
        padding-top: 1.5rem;
        color: $color-git-icon;

        &:hover {
            transform: scale(1.2);
            color: 	#780000;
        }

        &:active {
            color: #B80000;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}